.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: $light-slate;
  }

  &__list-item {
    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__list-item-link {
    padding: 10px;

    &:hover,
    &:focus {
      transform: translateY(-3px);
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;
      color: $light-slate;
    }
  }

  &__list-item-link-icon {
    width: 20px;
    height: 20px;
  }
}